.contenedor-carrito{
    overflow-x: hidden;
}

.tabla-carrito {
    width: 80%;
    text-align: center;
    margin-top: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.0);
    vertical-align: baseline !important;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.0);
    font-family: Poppins;
}

thead {
    color: #9b9d97;
    font-weight: 400;
    font-size: 16px;
    background-color: #212529 !important;
}

th {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.th-cart {
    width: 8%;
    border-right: none !important;
}

.th-img {
    width: 8%;
    border-right: none;
    border-left: none;
}

.th-prod {
    border-left: none;
    text-align: left;
    padding-left: 30px !important;
}

td {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.td-cart {
    border-right: none;
    padding-right: 20px !important;
    padding-left: 0px !important;
    font-size: 16px;
}

.td-img {
    width: 10%;
    border-right: none;
    border-left: none;
}

.td-prod {
    border-left: none;
    text-align: left;
    padding-left: 30px !important;
    color: #3f3f3f !important;
    font-weight: 700;
}

.td-price{
    color: #6f6f6f !important;
    font-weight: 600;
}

.td-container {
    display: flex;
    align-items: center;
    position: relative;
    left: 75px;
}

.cant-container {
    display: inline;
    margin-right: 10px;
}

.arrow-container {
    display: inline-block;
    font-size: 18px;
    font-weight: 200;
}

.up {
    display: block;
    cursor: pointer;
}

.down {
    display: block;
    cursor: pointer;
}

.btn-vaciarCarrito {
    color: #9b9d97;
    text-align: center;
    margin-top: 14px;
    transition: all 0,6s ease;
    background-color: #212529;
    border-color: #212529;
    border-radius: 0px;
    border-width: 1px;
    position: relative;
    left: 20px;
    padding: 8px;
    width: 186px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 400;
}

.btn-vaciarCarrito:hover {
    background-color: #212529;
    color: #fff;
    border-color: #212529;
}

.btn-seguirComprando {
    color: #9b9d97;
    text-align: center;
    margin-top: 14px;
    transition: all 0,6s ease;
    background-color: #212529;
    border-color: #212529;
    border-radius: 0px;
    border-width: 1px;
    position: relative;
    right: 20px;
    padding: 8px;
    width: 186px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 400;
}

.btn-seguirComprando:hover {
    background-color: #212529;
    color: #fff;
    border-color: #212529;
}

.icono-vaciar {
    cursor: pointer;
}

.icono-vaciar:hover {
    font-size: 18px;
    color: #9b9d97;
}

.texto-carrito {
    margin-top: 100px;
}

.hr-carrito {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.btn-volver {
    text-align: center;
    margin-top: 14px;
    transition: all 0,6s ease;
    background-color: #212529;
    border-color: #212529;
    border-radius: 0px;
    color: #9b9d97;
    font-size: 18px;
    font-weight: 400;
    padding: 8px;
    width: 15%;
}

.btn-volver:hover {
    background-color: #9b9d97;
    color: #212529;
    border-color: #9b9d97;
}

.titulo-total{
    margin-top: 60px;
    font-family: Poppins;
}

.tabla-total {
    width: 32%;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 1px solid #dee2e6 !important;
    font-family: Poppins;
}

.btn-finalizarCompra {
    margin-bottom: 30px;
    background-color: #212529;

    border-color: #212529;
    border-radius: 0px;
    color: #9b9d97;
    font-size: 18px;
    font-weight: 400;
    padding: 8px;
    width: 32%;
    transition: all 0,6s ease;
}

.btn-finalizarCompra:hover {
    background-color: #212529;
    color: #fff;
    border-color: #212529;
}
