.cart-container{
    overflow-x: hidden;
    padding-bottom: 80px;
}

.btn-vaciarCarrito {
    color: #9b9d97;
    text-align: center;
    margin-top: 14px;
    transition: all 0,6s ease;
    background-color: #212529;
    border-color: #212529;
    border-radius: 0px;
    border-width: 1px;
    position: relative;
    left: 20px;
    padding: 8px;
    width: 186px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 400;
}

.btn-vaciarCarrito:hover {
    background-color: #212529;
    color: #fff;
    border-color: #212529;
}

.btn-seguirComprando {
    color: #9b9d97;
    text-align: center;
    margin-top: 14px;
    transition: all 0,6s ease;
    background-color: #212529;
    border-color: #212529;
    border-radius: 0px;
    border-width: 1px;
    position: relative;
    right: 20px;
    padding: 8px;
    width: 186px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 400;
}

.btn-seguirComprando:hover {
    background-color: #212529;
    color: #fff;
    border-color: #212529;
}

.icono-vaciar {
    cursor: pointer;
}

.icono-vaciar:hover {
    font-size: 18px;
    color: #9b9d97;
}

.texto-carrito {
    margin-top: 100px;
}

.hr-carrito {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.btn-volver {
    text-align: center;
    margin-top: 14px;
    transition: all 0,6s ease;
    background-color: #212529;
    border-color: #212529;
    border-radius: 0px;
    color: #9b9d97;
    font-size: 18px;
    font-weight: 400;
    padding: 8px;
    width: 15%;
}

.btn-volver:hover {
    background-color: #9b9d97;
    color: #212529;
    border-color: #9b9d97;
}

.titulo-total{
    margin-top: 60px;
    font-family: Poppins;
}

.btn-finalizarCompra {
    margin-bottom: 30px;
    background-color: #212529;
    border: 1px solid #212529;
    border-radius: 0px;
    color: #9b9d97;
    font-size: 18px;
    padding: 8px;
    width: 32%;
    transition: all 0,6s ease;
}

.btn-finalizarCompra:hover {
    background-color: #9b9d97;
    border: 1px solid #9b9d97;
    color: #212529;
}

.empty-cart {
    padding-bottom: 300px;
}

@media only screen and (max-width: 768px){
    .btn-vaciarCarrito{
        font-size: 16px;
        width: 160px !important;
    }

    .btn-seguirComprando {
        width: 160px;
        font-size: 16px;
    }

    .btn-finalizarCompra {
        font-size: 16px;
        width: 50%;
    }
}