.table-cart {
    width: 80%;
    text-align: center;
    margin-top: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.0);
    vertical-align: baseline !important;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.0);
    font-family: Poppins;
}

thead {
    color: #9b9d97;
    font-weight: 300;
    font-size: 14px;
    background-color: #212529 !important;
}

th {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.th-delete {
    width: 8%;
    border-right: none !important;
}

.th-img {
    width: 8%;
    border-right: none;
    border-left: none;
}

.th-prod {
    border-left: none;
    text-align: left;
    padding-left: 30px !important;
}

td {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.td-delete {
    border-right: none;
    padding-right: 20px !important;
    padding-left: 0px !important;
    font-size: 16px;
}

.td-img {
    width: 10%;
    border-right: none;
    border-left: none;
}

.td-prod {
    border-left: none;
    text-align: left;
    padding-left: 30px !important;
    color: #3f3f3f !important;
    font-weight: 700;
}

.td-price{
    color: #6f6f6f !important;
    font-weight: 600;
}

.cant-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    padding-left: 10px;
    width: 20px;
}

.up { 
    cursor: pointer;
    padding-bottom: 1px;
}

.down {
    cursor: pointer;
    padding-top: 1px;
}

.icono-vaciar {
    cursor: pointer;
}

.icono-vaciar:hover {
    font-size: 18px;
    color: #9b9d97;
}

@media only screen and (max-width: 768px) {
    .table-cart {
        border: 0px !important;
        box-shadow: none;
        border-collapse: unset;
    }

    .table-cart .thead-cart {
        display: none;
    }

    .table-cart .tr-cart {
        margin-bottom: 20px;
        display: block;
        border: 1px solid #ddd;
        box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1);
    }

    .td-prod {
        padding-left: 10px !important;
    }

    .table-cart .th-cart, .table-cart .td-cart {
        font-size: 14px;
    }

    .table-cart .td-cart {
        display: block;
        border: 1px solid #ddd;
        text-align: right;
    }

    .table-cart .td-cart:before {
        content: attr(data-label);
        font-weight: bold;
        float: left;
        color: #6f6f6f !important;
    }

    .tbody-cart, .td-cart, .th-cart, .thead-cart, .tr-cart {
        border-color: none;
        border-style: none;
        border-width: none;
    }
 
    .cant-container {
        justify-content: end;
    }

    .arrow-container {
        font-size: 14px;
    }

    .td-cant::before {
        position: relative;
        top: 3px !important;
    }

    .td-img {
        display: none !important;
    }

}