.container-fluid {
    padding: 0px;
    overflow-x: hidden;
}

.list-container {
    background-color: #faf8f8;
}

.spinner-container {
    height: 100vh;
    position: relative;
}

.spinner-div {
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.div-container {
    max-width: 100%;
}