.container-fluid {
    padding: 0px;
    overflow-y: hidden
}

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0px;
}

.card {
    text-align: center;
}

.spinner-container {
    height: 100vh;
    position: relative;
}

.spinner-div {
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
}


.div-container {
    width: 1349px;
    padding: 30px;
}

.card {
    margin: 10px;
}