.container-fluid {
    padding: 0px;
    overflow-x: hidden;
    position: relative;
    right: 5px;
    @media only screen and (max-width: 767px){
        width: 50%;
    }
}

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0px;
}

.card {
    text-align: center;
    margin: 10px !important;
}

.spinner-container {
    height: 100vh;
    position: relative;
}

.spinner-div {
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.div-container {
    padding: 30px;
}

.card {
    margin: 10px;
}