.card-container {
    font-family: Poppins;
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}

.card:hover {
    transform: translateY(-0.1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.precio {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
    color: #7f7f7f;
}

.btn-detalle {
    margin-top: 8px;
    background-color: #212529;
    border-color: #212529;
    border-radius: 0px;
    color: #9b9d97;
}

.btn-detalle:hover {
    background-color: #9b9d97;
    color: #212529;
    border-color: #9b9d97;
}

.contenedor-stock {
    margin-top: 30px;
    margin-bottom: 0px !important;
}

h5 {
    font-size: 12px;
    color: #7f7f7f;
}