.texto-resumen {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.hr-resumen{
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 300px;
    margin-right: 300px;
}

@media only screen and (max-width: 768px) {
    .hr-resumen{
        margin-top: 30px;
        margin-bottom: 40px;
        margin-left: 60px;
        margin-right: 60px;
    }
}