.footer-container{
    background-color: #212529;
    color: #fff;
    padding-top: 30px;
}

.row {
    width: 100%;
}

.newsletter-container{
    text-align: left;
    padding-left: 100px;
}

.newsletter-container h2 {
    padding-bottom: 10px;
}

.categories-container{
    text-align: center;
}

.categories-container h2 {
    padding-bottom: 10px;
}

.category-link {
    transition: all 0.2s ease;
}

.category-link:hover{
    color: #c8c8c8;
}

.contact-container {
    text-align: right;
    padding-right: 100px;
}

.contact-container h2 {
    padding-bottom: 10px;
}

.footer-hr {
    margin-right: 100px;
    margin-left: 100px;
}

.social-container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 28px;
}

.facebook-icon {
    margin-left: 25px;
    margin-right: 25px;
}

.copyright-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.copyright {
    padding-bottom: 10px;
}


@media only screen and (max-width: 768px) {
    .newsletter-container {
        padding-left: 75px;
        font-size: 16px;
    }

    .categories-container {
        text-align: left;
        padding-left: 75px;
        padding-top: 30px;
    }

    .contact-container {
        text-align: left;
        padding-left: 75px;
        padding-top: 30px;
    }

    .footer-hr {
        margin-left: 75px;
        margin-right: 75px;
    }
}